
{% load static %}


                <!--
          - ASIDE
        -->
        {% block sidebar %}

                <div class="aside">

                    <div class="topics">

                        <h2 class="h2">Categories</h2>

                        <a href="./news.html" class="topic-btn">
                            <div class="icon-box">
                                <ion-icon name="server-outline"></ion-icon>
                            </div>

                            <p>Tech News</p>
                        </a>

                        <a href="#" class="topic-btn">
                            <div class="icon-box">
                                <ion-icon name="accessibility-outline"></ion-icon>
                            </div>

                            <p>Tips & Tricks</p>
                        </a>

                        <a href="#" class="topic-btn">
                            <div class="icon-box">
                                <ion-icon name="rocket-outline"></ion-icon>
                            </div>

                            <p>Others</p>
                        </a>

                    </div>



                    <div class="contact">

                        <h2 class="h2">Let's Talk</h2>

                        <div class="wrapper">

                            <p>
                                Do you want to learn more about how I can help your company overcome problems? Let us have a conversation.
                            </p>

                            <ul class="social-link">

                                <li>
                                    <a href="#" class="icon-box discord">
                                        <ion-icon name="logo-discord"></ion-icon>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="icon-box twitter">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="icon-box facebook">
                                        <ion-icon name="logo-facebook"></ion-icon>
                                    </a>
                                </li>

                            </ul>

                        </div>

                    </div>

                    <div class="newsletter">

                        <h2 class="h2">Newsletter</h2>

                        <div class="wrapper">

                            <p>
                                Subscribe to our newsletter to be among the first to keep up with the latest updates.
                            </p>

                            <form action="#">
                                <input type="email" name="email" placeholder="Email Address" required>

                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        
        {% endblock sidebar %}
